<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Suite">

	<listeners>
		<listener class-name="customListenrs.Listners"></listener>
	</listeners>


	<test thread-count="5" name="Login Test">
		<classes>
			<class name="testcases.TestCase1" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Validate Titile Name">
		<classes>
			<class name="testcases.TestCase2" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Test Dependency">
		<!-- <groups> <run> <include name="bvt"></include> </run> </groups> -->
		<classes>
			<class name="testcases.TestCase_TestCaseDependency" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Test Failure">
		<classes>
			<class name="testcases.TestFailures" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="5" name="Assertions">

		<classes>
			<class name="testcases.TestCase_SoftAssertion" />
		</classes>
	</test> <!-- Test -->



</suite> <!-- Suite -->
